<div ng-include="'partials/nav-home.html'"></div><br><br><br><br><br>
<div ng-include="'partials/addEditTools.html'" ></div>
  <div class="formHeading">
    <br><br><h1>Add or Edit a Song</h1>
  </div>
  <div class="formRegister">
    <div class="formHeading">
      <h1>Enter Song Info </h1>
      <h3>and click submut</h3>
    </div>
    <div name="addSong-form" class='formBox'>
      <form  id="addSong-form">
        <div class="input-group">
          <span class="input-group-addon">Title:<span style="margin-left: 34px;"></span></span>
          <input class="form-control" id="title" required type="title" ng-model="addEditCtrl.newSong.title" placeholder="Song Title" aria-describedby="basic-addon1">
        </div>
        <span><br></span>
        <span><a href="#/player" role="button" class="btn btn-material-blue" ng-click="addEditCtrl.addSong()">Submit</a>
        </span>
      </form>
    </div>
