<div ng-include="'partials/nav-home.html'"></div><br><br><br><br><br>
<div ng-include="'partials/addEditSongTools.html'" ></div>
  <div class="formRegister">
    <div class="formHeading">
    <h4 style="text-align: center;"><b>Add or Edit a Song</b></h4>
      <form  id="addSong-form">
        <div>
          <input type="text" size="32" id="title" ng-model="playerCtrl.newSong.title" placeholder="Song Title*" required><br>
          <input type="text" size="32" id="Artist" ng-model="playerCtrl.newSong.artist" placeholder="Song Artist">
          <input type="text" size="32" id="Composer" ng-model="playerCtrl.newSong.composer" placeholder="Song Composer">
          <input type="text" size="32" id="Key" ng-model="playerCtrl.newSong.key" placeholder="Song Key">
          <input type="text" size="32" id="LeadVoc" ng-model="playerCtrl.newSong.leadVoc" placeholder="Song Lead Vocalist"><br><br>
        </div>
        <div class="radBtnLt">
          <input type="radio" name="tempo" value="FAST" ng-model="playerCtrl.newSong.tempo"><div> FAST</div><br>
          <input type="radio" name="tempo" value="MEDIUM" ng-model="playerCtrl.newSong.tempo" checked><div> MEDIUM</div><br>
          <input type="radio" name="tempo" value="SLOW" ng-model="playerCtrl.newSong.tempo"><div> SLOW</div>
        </div>
        <div class="radBtnRt">
          <input type="radio" name="status" value="Preliminary" ng-model="playerCtrl.newSong.status" checked><div> Preliminary</div><br>
          <input type="radio" name="status" value="Active" ng-model="playerCtrl.newSong.status"><div> Active</div><br>
          <input type="radio" name="status" value="Closed" ng-model="playerCtrl.newSong.status"><div> closed</div>
        </div>
        <span><br></span><div><br></div>
        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a style="color: black;" href="#/player" ng-click="playerCtrl.addSong()"><b>SUBMIT</b></a>
        </span>
      </form>
    </div>
  </div>