<div ng-include="'/partials/nav-home.html'" ></div><br><br><br><br><br>
<div ng-include="'partials/loginTools.html'" ></div>
  <div class="formHeading">
    <br><br><h1>Welcome</h1>
  </div>
  <div class="formRegister">
    <div class="formHeading">
      <h1>Please Login</h1>
      <h3>Or Register to join the group</h3>
    </div>
    <div name="login-form" class='formBox'>
      <form  id="login-form">
        <div class="input-group">
          <span class="input-group-addon">Email:<span style="margin-left: 34px;"></span></span>
          <input class="form-control" id="email" required type="email" ng-model="authCtrl.email" placeholder="Email Address" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Password:<span style="margin-left: 6px;"></span></span>
          <input class="form-control" id="password" required type="password" ng-model="authCtrl.password" placeholder="Password" aria-describedby="basic-addon1">
        </div>
        <span><br></span>
        <span><a href="#/" role="button" class="btn btn-material-blue" ng-click="authCtrl.login()">LOGIN</a>
        <span style="margin-left: 60px;"></span><a href="#/register"><button role="link" class="btn btn-material-blue">REGISTER</button></a>
        </span>
      </form>
    </div>
  </div>
