<div ng-include="'partials/nav-home.html'"></div><br><br><br><br><br>
<div ng-include="'partials/playerTools.html'" ></div>

<div class="listInfoBox">
  <div ng-repeat="player in playerCtrl.players" ng-show="player.userId == playerCtrl.user">
    <h4 class="formHeading">{{player.firstName}}<span> </span>{{player.lastName}}'s Song List</h4>
    <hr>
  </div>
    <table class="table table-striped">
      <th>SONG TITLE</th>
      <th>KEY</th>

      <th> <a href="#/addSong"> <button >ADD A SONG</button></a></th>
      <tr ng-repeat="songs in playerCtrl.songs" ng-show="songs.uid == playerCtrl.user">
       <td data-title="Song Title'="><h5>{{songs.title}}</h5></td>
       <td data-title="'Song Key'" ><h5>{{songs.key}}</h5></td>
       <td data-title="'Edit'Delete" ><h6><button ng-click="playerCtrl.editSong(songs.$id)">EDIT </button> <button ng-click="playerCtrl.deleteSong(songs.$id)"> DELETE</button></h6></td>

      </tr>
    </table>
</div>

