<div class="toolBox">
  <ul class="nav nav-tabs">
    <li role="button" class="active"><a href="#/">Home</a></li><span></span>
    <li role="button" class="active"><a href="#/addSong">Add A Song</a></li>
<!--     <li role="button" class="active"><a href="#/">GroupView</a></li> -->
    <li role="button" class="active"><a ng-click="authCtrl.logout()" role="button">Logout</a></li>
   <!--  <li class="nav navbar-nav navbar-right"><a class="btn-material-blue" ng-click="authCtrl.logout()" role="button">LOGOUT</a></li>
  </ul> -->
</div>
